@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
$color-nav:#48b5b8;
$titlecolor:#328fb6;
$family: 'Montserrat';
body{
    font-family: $family;
    font-weight: 400;
}
.header{
    background-color: $color-nav;
    padding: 1.5rem .5rem ;
    position: fixed;
    width: 100%;
    .wrapper-navbar{
        display:flex;
        justify-content: space-between;
        .wrapper-links{
            display: flex;
            justify-content: space-around;
            list-style: none;
            align-items: center;
            .links{
                margin: 0 .5rem;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
            }
            .boton-entrar{
                margin-right:1rem ;
                padding: .5rem;
                border: none;
                border-radius: .2rem;
                font-size:1rem;
                background-color: #5398b9;
            }
        }
    }
}
.wrapper-hero{
    background-image: url(../assets/backgoundprueba.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 140px 0 50px;
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 11.4rem 0;
        .title{
            font-size: 5rem;
            .color{
                color: $titlecolor;
            }
        }
        .text-hero{
            font-size: 1.2rem;
            color: white;
        }
    }
}
.wrapper-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        .img-services{
            width: 20rem;
        }
        .subtitles{
            font-size: 5rem;
        }
        .wrapper-cards{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            .card{
                width: 12rem;
                margin: 2rem 3rem;
                .wrapper-img{
                    padding: 0 1rem;
                    .img-card{
                        width: 100%;
                    }
                }
                .info-card{
                    .title-card{
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin: 2rem 0 1rem;
                    }
                    .text-card{
                        text-align: justify;
                        color: #cdc9c3;
                    }
                }
            }
        }
}