@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
body {
  font-family: "Montserrat";
  font-weight: 400;
}

.header {
  background-color: #48b5b8;
  padding: 1.5rem 0.5rem;
  position: fixed;
  width: 100%;
}
.header .wrapper-navbar {
  display: flex;
  justify-content: space-between;
}
.header .wrapper-navbar .wrapper-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.header .wrapper-navbar .wrapper-links .links {
  margin: 0 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.header .wrapper-navbar .wrapper-links .boton-entrar {
  margin-right: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: #5398b9;
}

.wrapper-hero {
  background-image: url(../assets/backgoundprueba.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 140px 0 50px;
}
.wrapper-hero .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11.4rem 0;
}
.wrapper-hero .hero .title {
  font-size: 5rem;
}
.wrapper-hero .hero .title .color {
  color: #328fb6;
}
.wrapper-hero .hero .text-hero {
  font-size: 1.2rem;
  color: white;
}

.wrapper-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.wrapper-services .img-services {
  width: 20rem;
}
.wrapper-services .subtitles {
  font-size: 5rem;
}
.wrapper-services .wrapper-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.wrapper-services .wrapper-cards .card {
  width: 12rem;
  margin: 2rem 3rem;
}
.wrapper-services .wrapper-cards .card .wrapper-img {
  padding: 0 1rem;
}
.wrapper-services .wrapper-cards .card .wrapper-img .img-card {
  width: 100%;
}
.wrapper-services .wrapper-cards .card .info-card .title-card {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem 0 1rem;
}
.wrapper-services .wrapper-cards .card .info-card .text-card {
  text-align: justify;
  color: #cdc9c3;
}

/*# sourceMappingURL=style.css.map */
